body {
    margin: 0;
    display: flex;
    place-items: center;
    width: 1280px;
    height: 720px;
    background-color: #000;
    overflow: hidden;
}

.background-video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.banner {
    position: absolute;
    top: 220px;
    right: 0;
    width: 251px;
    height: 357px;
    z-index: 2;
    animation: fadeIn 1s;
}

.banner-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18.75px;
    text-align: center;
    padding: 0;
    margin: 0;
}